footer {

    color: #aaa;
    font-size: .95rem;
    margin: 0 1rem 0 20rem;
    /* padding: 1rem 4rem; */

    p {
        margin: 0px;
    }

    .footline {
        /*border-top: 1px solid #e6e6e6;*/
        margin: 0rem;
        padding: 0;

        font-size: smaller;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        .logo {
            order: 1;
        }

        .twitter {
            order: 2;
        }

        .github {
            order: 3;
        }

        .creative-commons {
          order: 4;
        }

    }
}
