<div class="chevrons">
  {{ partial "next-prev-page.html" . }}
</div>

</section>
</article>

<footer>
<div class="footline">
    <div class="logo">
      <a href='http://www.redcross.org' target="_blank">
          <img src="/images/logo_RC.png" class="logo"/>
      </a>
    </div>

    <div class="twitter">
      <a href='https://twitter.com/openmapkit' target="_blank">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle-o fa-stack-2x"></i>
          <i class="fa fa-twitter fa-stack-1x"></i>
        </span>

      </a>
    </div>

    <div class="github">
      <a href='https://github.com/AmericanRedCross/OpenMapKitAndroid' target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-o fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x"></i>
          </span>
      </a>
    </div>

    <div class="creative-sommons">
      <a href='https://creativecommons.org/licenses/by/4.0/' target="_blank">
        <img src="/images/ccby.svg" class="logo"/>
      </a>
    </div>
  </div>
</footer>


{{ partial "flex/scripts.html" . }}
